body,html {
margin:0;
padding:0;
background: url(/images/site/bg.jpg);
background-attachment : fixed;
background-repeat: repeat-x;
text-align: center;
font-family: Arial, Helvetica, Sans Serif;
font-size:12px;
margin: 10px 0px 0px 0px;
color:#666666;
}
table.buy_table {
border-spacing: 0px;
border-collapse: collapse;
text-align: right;
vertical-align:top;
font-size:12px;
}
table.buy_table th {
text-align: center;
font-weight: normal;
border-bottom: 2px solid #FFFFFF;
background: #DBE2F1;
vertical-align:top;
}
table.buy_table td {
text-align: left;
border-bottom: 2px solid #FFFFFF;
background: #DBE2F1;
vertical-align:top;
}
table.buy_table thead th {
background: #687EAB;
color: #FFFFFF;
text-align: center;
vertical-align:top;
}
a:link, a:visited {
color: #333333; 
text-decoration: none;
font-weight: bold;
}
a:hover {
color: #666666;	
text-decoration: none;
font-weight: bold;
}
#wrap {
background:#ffffff;
margin:0 auto;
width:758px;
}
#header {
height:81px;
width:758px; 
background: url(/images/site/dm_logo.jpg);
text-align:right;
margin: 0px;
}
.nav {
width:758px;
text-align:center;
border: 0px;
background: #999999;
font-size: 16px;
padding-top:20px;
padding-bottom:20px;
}
#sidebar {
background:#cccccc;
float:left;
width:165px;
vertical-align:bottom;
font-size: 11px;
text-align: center;
}
#footer {
background:#999999;
clear:both;
width:758px;
padding-top:10px;
padding-bottom:10px;
}
#iblott {
font-size: 10px;
background: #dddddd;
text-align: right;
}
#currency {
text-align: right;
font-size: 12px;
}
.top-text {
vertical-align:super;
}
.item_title {
font-size: 16px;
font-weight: bold;
}
.item_img1 {
padding:10px;
}
.item_img2 {
padding:10px;
float:right;
}
.item_img3 {
padding:10px;
}
.item_img4 {
padding:10px;
float:right;
}
.item_descrip {
font-size: 12px;
text-align: justify;
} 
.item_colour_title {
font-size: 12px;
font-weight: bold;
} 
.item_colour_text {
font-size: 12px;
} 
.middle {
text-align: center;
font-size: 12px;
}
.no_border {
border: 0px;
}
.pub_photo{
padding-bottom:20px;
padding-top:15px;
background: #DBE2F1;
text-align:center;
}